 .calculator {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} 

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vh;
  height: 100vh;
}

